*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: orange;
    background-size: cover;
    height: 100vh;
    color: white;
}

.card {
    background-color:rgb(44, 43, 43);
    width: 80vmin;
    padding: 50px 40px;
    position: absolute;
    top: 35%;
    left: 30%;
    border-radius: 5px;
    box-shadow: 20px 20px 20px;
}

.image {
    width: 150px;
    /* text-align: center; */
    /* display: block; */
    position: relative;
    left: 35%;
}

p{
    font-size: 20px;
    color: white;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 100;
}

button {
    background-color: orange;
    border: none;
    font-size: 18px;
    color: black;
    padding: 12px 25px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 33%;
}